@media (min-width: 300px ) and (max-width: 500px){
    
    
    
    
    
    .delivery-info { 
        
        display: grid;
        grid-template-rows: repeat(3, 1fr );
    
        row-gap: 10px;
        margin-bottom: 20px;
    
    
        
    
    }
    
    .delivery-info div{
        display: flex;
        border-radius: 10px;
        padding: 5px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(to right, #FFEEC6 ,#FFD8B0 );
        background-color: #ffffff00;
        background-color: #ffffff00;
    
    }
    
    .delivery-info div .icon{
        width: auto;    
        background: none;
    
    }
    .delivery-info div .icon svg{
        width: clamp(5px,7vw, 70px);
        height: auto;
        background: none;
        
    }
    .delivery-info div .info{
       /* margin-left: 10%;*/
        padding-left: 15px;
       background: none;
    
    }
    .delivery-info div h1{
        font-size:  clamp(7px, 4vw, 20px);
        font-weight: 600;
        white-space: normal;
        white-space: normal;
        background: none;
    }
    .delivery-info div h2{
        font-size:  clamp(7px, 3.2vw, 20px);
    
        background: none;
        font-weight: 400;
        white-space: normal;
    }
    
    
    }