/* .house .item{

    width: 95%;
    height: auto;
    border-radius: 10px;
    background-color: #03A9F4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 2.5vw;

}

.house .item .title{
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    font-size: clamp(20px, 3vw, 25px) !important;
}

.custom-select {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #888;

  }
  
  .custom-select select {
    padding: 20px;
    display: block;
    width: inherit;
    min-height: 35px;
    background: #cbe7ff;
    border-radius: 3px;
    border: 2px solid #2196F3;
    outline: none;
    padding: 10px 30px 10px 20px;

    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
  }
  
  .custom-select::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #222;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .custom-select .selector-options {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    background: #11436b;
    color: #fff;
    border-radius: 4px;
    z-index: 1;
    width: 96%;
    position: absolute;
    left: 2%;
    top: 35%;
  }
  
  .custom-select .selector-options li {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .custom-select .selector-options li:hover {
    background: #03A9F4;
  }



.item .button{
    margin: 0;
}
/* The switch - the box around the slider */
/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  /* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  /* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }   */