.katalog {
    padding:20px 20px 64px 20px;
}





.path{
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.path .el{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-left: 5px;
}
.path .el div{
    display: flex;
}
.path .el::first-letter{
    text-transform: uppercase;
}











.katalog-all-table{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: calc(26px + 5vw);

 .item{
    margin-bottom:  -26px;
    padding: 0;
    display: none;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.item img{
    width: 100%;
    height: auto;
    border-radius: 9px;
}
.item .like{
    z-index: 10;
    top: 30px;
    right: calc(-50vw + 60px);
    /* bottom: 100px; */
    position: relative;
    background-color: rgba(203, 203, 203, 0);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 1.6px;
}
.like:before {
    position: absolute;
    content: '';
    top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px;
    z-index: 40;
}
.like svg{
    width: 100%;
    height: auto;
}
.like svg #SVGRepo_iconCarrier{

    /* transform: translate(-50%, -50%); */
}
.card{
    width: 100%;
    bottom:0px;
    background-color: rgba(255, 255, 255, 0);

    position: relative;
    padding: 10px;

    border-radius:  0 0 10px 10px;
}
.card::after{
    filter: blur(5px);
    background: inherit;
}
.card .title {
    max-height: clamp(40px, 5vw, 12vw);
    min-height: 12vw;

    width: 100%;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: clamp(11px, 3.4vw, 20px);
}
.card .title p{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.bottom-panel{
    width: 100%;
}
.price{
    width: 100%;
    font-weight: normal;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.show-price{
    font-weight: 500;
    font-size: clamp(14px, 4.5vw, 20px);
    font-weight: normal;
    display: flex;
}
.price .real-price {
    font-size: clamp(13px, 4vw, 20px);
    color:    #797878;
    width: auto;
    height: auto;
    text-decoration: line-through 1.3px;
	text-decoration-color:     #b70505;
    font-weight: 500;
    margin-left: 14px;
    padding: 0;


}
.price .real-price{
    display: flex;
}



.delivery-date{
    font-size: clamp(12px, 3.1vw, 20px);
}
.delivery-date::before{
    position: absolute;
    content: '';
    /* top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px; */
    z-index: 40;
}
.delivery-date.good{
    margin-top: 15px;
    color: #16af05;


}
.delivery-date.long{
    margin-top: 15px;
    color: #FFC33E;

}
.delivery-date.bad{
    margin-top: 15px;
    color: #e10202;

}
.delivery-date.no{
    margin-top: 15px;
    color: #686868;


}



.delivery-date.good::after{

    color: #16af05;
    content: "😍";
    margin-left: 3px;


}

.delivery-date.long::after{
    content: "😏";

    margin-left: 3px;
}
.delivery-date.bad::after{
    content: "😔";
    color: #e10202;
    margin-left: 3px;

}
.delivery-date.no::after{
    content: '😭';
    color: #686868;
    margin-left: 3px;
}

.path{
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.path .el{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-left: 5px;
}
.path .el div{
    display: flex;
}
.path .el::first-letter{
    text-transform: uppercase;
}

    
.sneakers-button{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: clamp(8px, 4vw, 22px);
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    background-color: #15A90D;
    cursor: pointer;
}



}

.katalog-all-list{
    margin-top: 26px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;

.item{
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
}
.item img{
    border-radius: 9px;
    width: auto;
    height: clamp(14svh,22vw, 26svh);

}
.item .like{
    top: 0px;
    right: -90%;
    /* bottom: 100px; */
    position: relative;
    background-color: rgba(203, 203, 203, 0);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 1.6px;
    margin-bottom: -24px;
}
.like:before {
    position: absolute;
    content: '';
    top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px;
    z-index: 40;
}
.like svg{
    width: 100%;
    height: auto;
}
.like svg #SVGRepo_iconCarrier{

    /* transform: translate(-50%, -50%); */
}
.card{
 
    bottom:0px;

   
    position: relative;
    padding: 10px 10px 10px 10px;


}
.card::after{
    filter: blur(5px);
    background: inherit;
}
.card .title {
    max-height: clamp(40px, 5vw, 12vw);


    width: 100%;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: clamp(11px, 3.4vw, 20px);
}
.card .title p{
    margin-bottom: 5px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.bottom-panel{
    width: 100%;
}
.price{
    width: 100%;
    font-weight: normal;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.show-price{
    font-weight: 500;
    font-size: clamp(14px, 4.5vw, 20px);
    font-weight: normal;
    display: flex;
}
.price .real-price {
    font-size: clamp(13px, 4vw, 20px);
    color:    #797878;
    width: auto;
    height: auto;
    text-decoration: line-through 1.3px;
	text-decoration-color:     #b70505;
    font-weight: 500;
    margin-left: 14px;
    padding: 0;


}
.price .real-price{
    display: flex;
}



.delivery-date{
    font-size: clamp(12px, 3.1vw, 20px);
}
.delivery-date::before{
    position: absolute;
    content: '';
    /* top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px; */
    z-index: 40;
}
.delivery-date.good{

    color: #16af05;


}
.delivery-date.long{

    color: #FFC33E;

}
.delivery-date.bad{

    color: #e10202;

}
.delivery-date.no{

    color: #686868;


}



.delivery-date.good::after{

    color: #16af05;
    content: "😍";
    margin-left: 3px;


}

.delivery-date.long::after{
    content: "😏";

    margin-left: 3px;
}
.delivery-date.bad::after{
    content: "😔";
    color: #e10202;
    margin-left: 3px;

}
.delivery-date.no::after{
    content: '😭';
    color: #686868;
    margin-left: 3px;
}

.path{
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.path .el{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-left: 5px;
}
.path .el div{
    display: flex;
}
.path .el::first-letter{
    text-transform: uppercase;
}

.filter-by{
    
}
    
.sneakers-button{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: clamp(8px, 4vw, 22px);
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    background-color: #15A90D;
    cursor: pointer;
}



}



.show-type{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 20px;
    margin-bottom: 10px;
}
.show-type .title{
    font-size: 18px;
}
.show-type .icon{
    width: auto;
}
.show-type .icon img{
    width: 20px;

}
.katalog > .title{
    font-size: 26px;
    margin-bottom: 20px;
}

// brd {
//     border: 1px solid #e2eded;
//     border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
// }

// #info {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     color: #2d3667;
//     font-size: 16px;
//     text-align: center;
//     padding: 14px;
//     background-color: #f3f9f9;
// }

// #app-cover {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     width: 300px;
//     height: 42px;
//     margin: 100px auto 0 auto;
//     z-index: 1;
// }

// #select-button {
//     position: relative;
//     height: 16px;
//     padding: 12px 14px;
//     background-color: #fff;
//     border-radius: 4px;
//     cursor: pointer;
// }

// #options-view-button {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     opacity: 0;
//     cursor: pointer;
//     z-index: 3;
// }

// #selected-value {
//     font-size: 16px;
//     line-height: 1;
//     margin-right: 26px;
// }

// .option i {
//     width: 16px;
//     height: 16px;
// }

// .option,
// .label {
//     color: #2d3667;
//     font-size: 16px;
// }

// #chevrons {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     width: 12px;
//     padding: 9px 14px;
// }

// #chevrons i {
//     display: block;
//     height: 50%;
//     color: #d1dede;
//     font-size: 12px;
//     text-align: right;
// }

// #options-view-button:checked+#select-button #chevrons i {
//     color: #2d3667;
// }

// .options {
//     position: absolute;
//     left: 0;
//     width: 250px;
// }

// #options {
//     position: absolute;
//     top: 42px;
//     right: 0;
//     left: 0;
//     width: 298px;
//     margin: 0 auto;
//     background-color: #fff;
//     border-radius: 4px;
// }

// #options-view-button:checked~#options {
//     border: 1px solid #e2eded;
//     border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
// }

// .option {
//     position: relative;
//     line-height: 1;
//     transition: 0.3s ease all;
//     z-index: 2;
// }

// .option i {
//     position: absolute;
//     left: 14px;
//     padding: 0;
//     display: none;
// }

// #options-view-button:checked~#options .option i {
//     display: block;
//     padding: 12px 0;
// }

// .label {
//     display: none;
//     padding: 0;
//     margin-left: 27px;
// }

// #options-view-button:checked~#options .label {
//     display: block;
//     padding: 12px 14px;
// }

// .s-c {
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 50%;
// }

// .s-c.top {
//     top: 0;
// }

// .s-c.bottom {
//     bottom: 0;
// }

// input[type="radio"] {
//     position: absolute;
//     right: 0;
//     left: 0;
//     width: 100%;
//     height: 50%;
//     margin: 0;
//     opacity: 0;
//     cursor: pointer;
// }

// .s-c:hover~i {
//     color: #fff;
//     opacity: 0;
// }

// .s-c:hover {
//     height: 100%;
//     z-index: 1;
// }

// .s-c.bottom:hover+i {
//     bottom: -25px;
//     animation: moveup 0.3s ease 0.1s forwards;
// }

// .s-c.top:hover~i {
//     top: -25px;
//     animation: movedown 0.3s ease 0.1s forwards;
// }

// @keyframes moveup {
//     0% {
//         bottom: -25px;
//         opacity: 0;
//     }

//     100% {
//         bottom: 0;
//         opacity: 1;
//     }
// }

// @keyframes movedown {
//     0% {
//         top: -25px;
//         opacity: 0;
//     }

//     100% {
//         top: 0;
//         opacity: 1;
//     }
// }

// .label {
//     transition: 0.3s ease all;
// }

// .opt-val {
//     position: absolute;
//     left: 14px;
//     width: 217px;
//     height: 21px;
//     opacity: 0;
//     background-color: #fff;
//     transform: scale(0);
// }

// .option input[type="radio"]:checked~.opt-val {
//     opacity: 1;
//     transform: scale(1);
// }

// .option input[type="radio"]:checked~i {
//     top: 0;
//     bottom: auto;
//     opacity: 1;
//     animation: unset;
// }

// .option input[type="radio"]:checked~i,
// .option input[type="radio"]:checked~.label {
//     color: #fff;
// }

// .option input[type="radio"]:checked~.label:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: -1;
// }

// #options-view-button:not(:checked)~#options .option input[type="radio"]:checked~.opt-val {
//     top: -30px;
// }

// .option:nth-child(1) input[type="radio"]:checked~.label:before {
//     background-color: #000;
//     border-radius: 4px 4px 0 0;
// }

// .option:nth-child(1) input[type="radio"]:checked~.opt-val {
//     top: -31px;
// }

// .option:nth-child(2) input[type="radio"]:checked~.label:before {
//     background-color: #ea4c89;
// }

// .option:nth-child(2) input[type="radio"]:checked~.opt-val {
//     top: -71px;
// }

// .option:nth-child(3) input[type="radio"]:checked~.label:before {
//     background-color: #0057ff;
// }

// .option:nth-child(3) input[type="radio"]:checked~.opt-val {
//     top: -111px;
// }

// .option:nth-child(4) input[type="radio"]:checked~.label:before {
//     background-color: #32c766;
// }

// .option:nth-child(4) input[type="radio"]:checked~.opt-val {
//     top: -151px;
// }

// .option:nth-child(5) input[type="radio"]:checked~.label:before {
//     background-color: #f48024;
// }

// .option:nth-child(5) input[type="radio"]:checked~.opt-val {
//     top: -191px;
// }

// .option:nth-child(6) input[type="radio"]:checked~.label:before {
//     background-color: #006400;
//     border-radius: 0 0 4px 4px;
// }

// .option:nth-child(6) input[type="radio"]:checked~.opt-val {
//     top: -231px;
// }

// .option .fa-codepen {
//     color: #000;
// }

// .option .fa-dribbble {
//     color: #ea4c89;
// }

// .option .fa-behance {
//     color: #0057ff;
// }

// .option .fa-hackerrank {
//     color: #32c766;
// }

// .option .fa-stack-overflow {
//     color: #f48024;
// }

// .option .fa-free-code-camp {
//     color: #006400;
// }

// #option-bg {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     height: 40px;
//     transition: 0.3s ease all;
//     z-index: 1;
//     display: none;
// }

// #options-view-button:checked~#options #option-bg {
//     display: block;
// }

// .option:hover .label {
//     color: #fff;
// }

// .option:nth-child(1):hover~#option-bg {
//     top: 0;
//     background-color: #000;
//     border-radius: 4px 4px 0 0;
// }

// .option:nth-child(2):hover~#option-bg {
//     top: 40px;
//     background-color: #ea4c89;
// }

// .option:nth-child(3):hover~#option-bg {
//     top: 80px;
//     background-color: #0057ff;
// }

// .option:nth-child(4):hover~#option-bg {
//     top: 120px;
//     background-color: #32c766;
// }

// .option:nth-child(5):hover~#option-bg {
//     top: 160px;
//     background-color: #f48024;
// }

// .option:nth-child(6):hover~#option-bg {
//     top: 200px;
//     background-color: #006400;
//     border-radius: 0 0 4px 4px;
// }