.arrow-back{
    position: absolute;
    top: 70px;
    z-index: 100;
    left: 15px;

}
.arrow-back img{
    width: 35px;
    height: auto;

}

.alert {
    position:fixed;
    width:  80%;
    transform: translate(-50%, -50%);
    top: 3vh;
    z-index: 1000;
    left: 50%;
    padding: 20px;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 40px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}
.alert.error{
	background-color: #f44336;
}
.alert.success{
    display: flex;
    justify-content: center;
	background-color: #07c02c;
}
.alert.info{
	background-color: #4e4c4c;
}
.close-alert{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 90%;
    top: 2.4vh;

}

.close-alert img{
    width: 20px;
    height: auto;
}




:not(:root):fullscreen::backdrop {
    background: #fff;
}