.admin{
	background-color: #F7F7F7;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px 30px 90px 30px;
	height: auto;
	min-height: 100vh;
	margin: 0!important;
}
.admin > .title{
	all: initial;
	display: flex;
	font-size: 22px;
	justify-content: center;
	margin: 20px  0;
}
.admin .buttons{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 15px));
	column-gap: 30px;
	row-gap: 30px;
}
.admin .buttons .info-link-map{
	all: initial;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 0px 18px 20px 18px;
	display: flex;
	width: 100%;
	height: calc(50vw - 40px);
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	box-shadow: inset 0px 0px 0px 1px #c5c5c5, -6px -6px 12px #ffffff;

}
.admin .buttons .info-link-map .icon{
	width: 40%;
	height: 40%;
}

.admin .buttons .info-link-map.box .icon{
	width: 50%;
	height: 50%;
} 
.admin .buttons .info-link-map.diagram .icon img{
	width: 88%;
	height: 88%;
} 

.admin .buttons .info-link-map .icon img{
	width: 100%;
	height: 100%;
}
